/*

In this file:

// A. Imports
// B. Variables
// C. Text Shadows
// D. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

@import "partials/breakpoints";

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root{

    --body-max-width: 2200px;
    --base-font-family: 'Montserrat', sans-serif;

    --base-font-size: 22px;

    --base-font-weight-normal: 400;
    --base-font-weight-bold: 900;

    --primary: hsl(220, 70%, 40%);

    --secondary: hsl(174, 100%, 33%);
    --dark: hsl(215, 61%, 15%);
    --light: #F7F8F9;

    --border-radius: 0.375em;
}

//////////////////////////////////////////////
// C. Global Elements
//////////////////////////////////////////////

p:not([class]) {
    font-family:'EB Garamond', serif;
}

.card{
    h6, .h6{
        margin-bottom: var(--s1);
    }
}

//////////////////////////////////////////////
// D. Map
//////////////////////////////////////////////

#map-columns{
    --map-max-size: 350px; 
    display: grid;
    height: 100vh;

    grid-template-areas: 
        "map"
        "sidebar";

    grid-template-rows: var(--map-max-size) 1fr;

    #map{
        grid-area: 'map';
        height: 100%;
    }

    #sidebar{
        grid-area: 'sidebar';
        z-index: 25000;
        position: relative;

        button.toggle{
            position: absolute;
            top: var(--s2);
            left: -50px;
        }
    }
    
    @include breakpoints-up(lg) {
        grid-template-rows: unset;
        grid-template-areas: 
            "map sidebar";

        grid-template-columns: 1fr 0;

        &.sidebar-show{
            grid-template-columns: 1fr var(--map-max-size);
        }

    }

}

a[class*="leaflet-control-zoom"],
a[class*="leaflet-control-zoom"]:hover,
a[class*="leaflet-control-zoom"]:focus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--btn--icon-only-size);
    height: var(--btn--icon-only-size);
    text-decoration: none;
}

 #map-meetings { height: 100%; width:100% }


svg.current-color{
    fill: currentColor;
}

.banner-headline {
    font-weight: var(--base-font-weight-bold) !important;
}

.wrap-triangle {
    --my-size: 100px;
    --my-padding: var(--s2);

    --my-real-size: calc( var(--my-size) + var(--my-padding));

    background-color: var(--primary);
    padding: var(--s1);
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: calc( var(--my-real-size) / 2 * -1);
    width: var(--my-real-size);
    height: var(--my-real-size);;
}

footer{
    padding-top: 0.1px;
}

// Map



// .btn--outline {
//     position: relative;
//     overflow: visible;

//     &::before{
//         content: "";
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
        
//         display: block;
//         border-radius: inherit;
    
//         box-shadow: 0.5em 0.5em 0 currentColor;
//     }
// }